<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SupMusic</title>
    @if (Global.isInDarkMode)
    {

            <link rel="stylesheet" href="~/css/darktheme.css" />
    }
    else
    {
            <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    }
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SupMusic</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 nav-board">
                        <li class="nav-item">
                            <a class="nav-link text-secondary nav-button" asp-area="" asp-controller="Home"
                                asp-action="Discover">Discover</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary nav-button" asp-area="" asp-controller="Home" asp-action="Playlists">My
                                playlists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info nav-button" asp-area="" asp-controller="Home" asp-action="Upload">Upload new song</a>
                        </li>
                        <li class="nav-item nav-button">
                           @using (Html.BeginForm("switchTheme", "Home", new { Id = 10 }, FormMethod.Get))
                            {
                                @if(Global.isInDarkMode){
                                    <button class="btn btn-secondary">LightMode</button>
                                    }
                                else {
                                    <button class="btn btn-secondary">DarkMode</button>
                                    } 
                            }
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SupMusic - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

<style>
    .nav-button {
        font-size: 1.4rem;
    }
    .nav-board {
        align-items: center;
    }
</style>
