@{
    var PlayerId = "waveform-" + @Model.ID;
}

<div id=@PlayerId></div>

<button onClick="start()">play</button>

<script src="https://unpkg.com/wavesurfer.js"></script>
<script>

    function start() {
        wavesurfer.play();
    }
    Document.a
    var wavesurfer = WaveSurfer.create({
        container: "#@PlayerId",
        waveColor: 'violet',
        progressColor: 'purple'
    });
    wavesurfer.load('@Model.Path');
</script>
