@{
    var PlayerId = "waveform-" + @Model.ID;
}

<div id=@PlayerId></div>

<button id="@PlayerId-play">play</button>
<button id="@PlayerId-mute">mute</button>
<input id="@PlayerId-volume" type="range" min="0" max="1" value="1" step="0.1">

<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    (() => {

        function changeVolume(e) {
            SongVolume = e.target.value
            wavesurfer.setVolume(SongVolume);
            localStorage.setItem("SongVolume", SongVolume)
        }


        const wavesurfer = new WaveSurfer.create({
            container: "#@PlayerId",
            waveColor: 'violet',
            progressColor: 'purple'
        });

        $("#@PlayerId-play").click(() => wavesurfer.playPause());
        $("#@PlayerId-mute").click(() => wavesurfer.toggleMute());

        let SongVolume = localStorage.getItem("SongVolume");
        if (SongVolume) {
            wavesurfer.setVolume(SongVolume)
        }
        else {
            SongVolume = 0.5
            wavesurfer.setVolume(SongVolume);
            localStorage.setItem("SongVolume", SongVolume)
        }
        document.querySelector('#@PlayerId-volume').value = SongVolume;
        document.querySelector('#@PlayerId-volume').addEventListener('change', changeVolume)
        wavesurfer.load('@Model.Path');

    })()
</script>
