@{
    var PlayerId = "waveform-" + @Model.ID;
}

<div id=@PlayerId></div>

<button id="@PlayerId-button">play</button>

<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    (() => {
        const wavesurfer = new WaveSurfer.create({
            container: "#@PlayerId",
            waveColor: 'violet',
            progressColor: 'purple'
        });
        $("#@PlayerId-button").click(() => wavesurfer.play());
        wavesurfer.load('@Model.Path');
    })()
</script>
