@{
    ViewData["Title"] = "Discover";
    List<Song> songs = ViewBag.songs;
}

List of all songs we have on the site , can listen to them & add to playlist


@foreach (var song in songs)
{
    <ul>
        <li>@song.Name</li>
        <button>Play song</button>
    </ul>
}