@{
    ViewData["Title"] = "Discover";
    List<Song> songs = ViewBag.songs;
    string[] parseTags(string tags)
    {
        return tags.Split(',');
    }
    String userID = ViewBag.userID;
}

List of all songs we have on the site , can listen to them & add to playlist


@foreach (var song in songs)
{
    <ul>
        <div>@song.Name</div>
        @if(song.Tags != null){
        @foreach (var tag in parseTags(song.Tags))
        {
            <div>@tag</div>
        }
        }
        @Html.Partial("_Player", song)
    </ul>
}


<script>

</script>