@{
    ViewData["Title"] = "Presentation";
}

<h1 class="text-info">Welcome to SupMusic !</h1>

<img class="logo" src="./logo.png">
<p class="text-primary description">
    SupMusic is a music sharing service within the Supinfo community.
    Only royalty-free musics and/or musics composed by a member of the Supinfo community are accepted.
    Enjoy listening!
</p>

<style>
    .logo {
        align-self: center;
    }

    .description {
        font-size: 2rem;
    }
</style>